<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="vue.js"></script>
  <script src="axios.js"></script>
  <title>VueJS</title>
  <style>
    body { 
      padding: 20px;
      background: rgb(38, 32, 59);
      color: #eee;
      font-family: sans-serif;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1> Hello {{ text }}</h1>
    <button @click="showName">Show World</button>
    
    <div v-for="name in names">
      <h3>{{ name }}</h3>
    </div>
    
    <hr>
    
    <div v-for="user in users" @click="showUserName(user.name)">
      <h3>{{ user.name }} - {{ user.country }}</h3>
    </div>

  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          text: 'World',
          baseURL: 'http://localhost:3333',
          names: ['John', 'Doe', 'Silen'],
          users: [
            {name: 'John', country: 'Ireland'},
            {name: 'Doe', country: 'Canada'}
          ]
        }
      },

      created() {
        this.fetchUsers()
      },
      
      methods: {
        showName () {
          alert(this.text)
        },

        showUserName(name) {
          alert(name)
        },

        async fetchUsers() {
          const response = await axios.get(this.baseURL+'/users')
          console.log(response.data)
        }
        
      }
    })

    const vm = app.mount('#app')
     
  </script>
</body>
</html>